.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100vw;

  @media (max-width: 400px) {
    padding: 8px 10px;
  }

  @media (max-width: 250px) {
    padding: 6px 8px;
    height: 56px; /* Reduce the height for extra-small screens */
  }
}

.header-left-side {
  display: flex;
  align-items: center;

  @media (max-width: 400px) {
    gap: 6px;
  }

  @media (max-width: 250px) {
    gap: 4px;
  }
}

.header-details-container {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 400px) {
    gap: 8px;
  }

  @media (max-width: 250px) {
    gap: 6px;
  }
}

.header-logo {
  object-fit: contain;
  height: 100%;
  width: auto;

  @media (max-width: 250px) {
    height: 75%; /* Reduce logo height for extra-small screens */
  }
}

.header-title {
  font-size: 24px;
  font-weight: 600;

  @media (max-width: 400px) {
    font-size: 18px;
    font-weight: 600;
  }

  @media (max-width: 300px) {
    font-size: 16px;
    font-weight: 500;
  }

  @media (max-width: 250px) {
    font-size: 14px;
    font-weight: 500;
  }
}

.header-right-side {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 400px) {
    gap: 8px;
  }

  @media (max-width: 250px) {
    gap: 6px;
  }
}

.register-button,
.login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 400px) {
    padding: 6px 12px;
    font-size: 14px;
  }

  @media (max-width: 250px) {
    padding: 4px 10px;
    font-size: 12px;
  }
}

.header-buttons {
  display: flex;
  gap: 12px;

  @media (max-width: 400px) {
    gap: 8px;
  }

  @media (max-width: 250px) {
    gap: 4px;
  }
}

.menu-button {
  display: none;
  background-color: #2a2a2a;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 400px) {
    font-size: 14px;
    padding: 6px 10px;
  }

  @media (max-width: 250px) {
    font-size: 12px;
    padding: 4px 8px;
  }
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #e3342f;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;

  @media (max-width: 400px) {
    margin-left: 8px;
    padding: 6px 12px;
    font-size: 12px;
  }

  @media (max-width: 250px) {
    margin-left: 4px;
    padding: 4px 10px;
    font-size: 10px;
  }
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;

  @media (max-width: 400px) {
    font-size: 14px;
    gap: 6px;
  }

  @media (max-width: 300px) {
    font-size: 12px;
    gap: 4px;
  }

  @media (max-width: 250px) {
    font-size: 10px;
    gap: 2px;
  }
}

.header-user-info span {
  white-space: nowrap;
  overflow: hidden;
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
