<div class="user-list">
    <div *ngFor="let user of users" class="user-item">
        <p class="user-field ">Username: {{ user.username }}</p>
        <p class="user-field ">First Name: {{ user.firstName }}</p>
        <p class="user-field ">Last Name: {{ user.lastName }}</p>
        <p class="user-field ">Email: {{ user.email }}</p>
        <p class="user-field ">Phone Number: {{ user.phoneNumber }}</p>
        <p class="user-field ">City: {{ user.city }}</p>
        <p class="user-field ">Country: {{ user.country }}</p>
        <p class="user-field ">User Type: {{ user.userType }}</p>
    </div>
</div>