<div class="create-company-page">
  <div class="create-company">
    <div class="nav-bar">
      <ul>
        <li>
          <button
            mat-raised-button
            color="primary"
            (click)="goToAllCompanies()"
          >
            Back to Companies List
          </button>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="existingCompany && !isEditing; else formContainer">
      <h2>Your Company Details</h2>
      <div class="company-details flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <img
            *ngIf="existingCompany.profilePicture"
            [src]="existingCompany.profilePicture"
            alt="Company Profile Picture"
            class="h-[40px] w-[40px] border-secondary border rounded-full bg-secondary"
          />
          <div class="flex gap-1 flex-col justify-center">
            <div class="text-[20px] font-bold">{{ existingCompany.name }}</div>
            <div class="text--sm font-bold">
              {{ existingCompany.city }}, {{ existingCompany.country }}
            </div>
          </div>
        </div>
        <div><strong>Email:</strong> {{ existingCompany.email }}</div>
        <div>
          <strong>Phone Number:</strong> {{ existingCompany.phoneNumber }}
        </div>
        <div>
          <strong>Location:</strong> {{ existingCompany.city }},
          {{ existingCompany.country }}
        </div>
        <div class="flex flex-col gap-1">
          <strong>Description:</strong> {{ existingCompany.description }}
        </div>
      </div>
      <div class="flex items-end justify-end">
        <button mat-flat-button color="accent" (click)="editCompany()">
          Edit Company
        </button>
      </div>
    </ng-container>

    <ng-template #formContainer>
      <h2 *ngIf="!isEditing">Create Company</h2>
      <h2 *ngIf="isEditing">Edit Company</h2>
      <form
        [formGroup]="companyForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <div class="fields-wrapper">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="companyForm.get('name')?.errors?.['required']">
                Company name is required.
              </mat-error>
              <mat-error *ngIf="companyForm.get('name')?.errors?.['minlength']">
                Must be at least 3 characters.
              </mat-error>
              <mat-error *ngIf="companyForm.get('name')?.errors?.['maxlength']">
                Must not exceed 100 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
              <mat-error *ngIf="companyForm.get('city')?.errors?.['required']">
                City is required.
              </mat-error>
              <mat-error *ngIf="companyForm.get('city')?.errors?.['maxlength']">
                Must not exceed 100 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error
                *ngIf="companyForm.get('description')?.errors?.['maxlength']"
              >
                Must not exceed 500 characters.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="companyForm.get('email')?.errors?.['required']">
                Email is required.
              </mat-error>
              <mat-error *ngIf="companyForm.get('email')?.errors?.['email']">
                Invalid email format.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" />
              <mat-error
                *ngIf="companyForm.get('country')?.errors?.['required']"
              >
                Country is required.
              </mat-error>
              <mat-error
                *ngIf="companyForm.get('country')?.errors?.['maxlength']"
              >
                Must not exceed 100 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" />
              <mat-error
                *ngIf="companyForm.get('phoneNumber')?.errors?.['required']"
              >
                Phone number is required.
              </mat-error>
              <mat-error
                *ngIf="companyForm.get('phoneNumber')?.errors?.['pattern']"
              >
                Must be 7-15 digits.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Profile Picture URL</mat-label>
          <input matInput formControlName="profilePicture" />
          <mat-error
            *ngIf="companyForm.get('profilePicture')?.errors?.['maxlength']"
          >
            Must not exceed 2048 characters.
          </mat-error>
        </mat-form-field>

        <div class="buttons-wrapper">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="companyForm.invalid || isSubmitting"
          >
            {{
              isSubmitting
                ? isEditing
                  ? "Updating..."
                  : "Creating..."
                : isEditing
                ? "Update Company"
                : "Create Company"
            }}
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
