<div class="login-page">
  <div class="login-container">
    <h2>Login</h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center w-full"
    >
      <!-- Username -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username?.invalid && username?.touched">
          <span *ngIf="username?.errors?.['required']"
            >Username is required.</span
          >
          <span *ngIf="username?.errors?.['minlength']">
            Username must be at least 3 characters long.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="password?.invalid && password?.touched">
          <span *ngIf="password?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="password?.errors?.['minlength']">
            Password must be at least 6 characters long.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Register Link -->
      <div class="register-link self-end">
        Don't have an account?
        <a class="cursor-pointer" (click)="goToRegister()">Register here</a>
      </div>

      <!-- Submit Button -->
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
