<div class="cards-list-container">
  <div class="card-list-header">
    <div class="card-list-header-left">
      <div class="card-list-header-title">Your Listings</div>
      <div class="card-list-header-description">
        These are the listings you have created.
      </div>
    </div>
    <button mat-flat-button color="primary" (click)="goToCreateListing()">
      Create New Listing
    </button>
  </div>

  <div class="card-grid">
    <!-- Dynamically generate cards for user's listings -->
    <div class="card-container" *ngFor="let listing of listings">
      <img
        [src]="listing.image || 'assets/images/placeholder.png'"
        alt="home"
        class="card-image"
      />
      <div class="card-text-container">
        <div class="card-price-wrapper">
          <div class="card-price">${{ listing.budget | number : "1.0-0" }}</div>
          <div class="card-budget">Budget</div>
        </div>
        <div class="card-details-container">
          <div class="card-title">{{ listing.projectType }}</div>
          <div class="card-description">
            {{ listing.title }} - {{ listing.city }}, {{ listing.country }}
          </div>
        </div>
        <button
          mat-flat-button
          color="accent"
          (click)="viewDetails(listing.id)"
        >
          View Details
        </button>
      </div>
    </div>
  </div>

  <!-- Add paginator -->
</div>
